@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.all {
  border: none;
  align-items: center;
}

.bigMe {
  margin-top: 0;
  width: 90%;
  border-right: 4px solid black;
  margin-right: auto;
  align-items: center;
  display: flex;
  margin-bottom: 0;
  padding-top: 0;
}

.mePicture {
  width: 33%; 
  bottom: 0; 
  vertical-align: bottom;
  border-right: 4px solid black;
}

.aboot { 
  margin-left: -4.5vw;
  padding-top: 5px;
  border-bottom: 4px solid black;
}

.majors {
  font-size: 2vw;
  margin-left: 2%;
  margin-right: 2%;
  text-align: left;
  margin-top: 0%;
}

.myName {
  font-size: 5vw;
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: underline;
}

.interests {
  font-size: 2vw;
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10px;  
}

.iPt1 {
  margin-left: -4.5vw;
}

.lotsOfButtons {
  margin-left: 2%;
  margin-right: 2%;
  text-align: left;
}

.iPt2 {
  display: none;
}

.buttonz {
  background-color: white;
  border-color: black;
  margin-right: 10px;
  margin-bottom: 5px;
}

.buttonz:hover {
  background-color: orange;
}

.buttonz:focus { 
  outline: none;
}

.link {
  color: orange;
}

.link:hover {
  color: black;
}

.link2 {
  color: black;
}

.link2:hover {
  color: orange;
}


@media only screen and (max-width: 750px) {
  /* For mobile phones: */

  .bigMe {
    width: 100%;
    margin-left: 0;
    border-bottom: none;
    border-right: none;
    margin-bottom: 0;
  }

  .mePicture {
    width: 33%;
    height: auto;
  }

  .aboot {
    font-size: 10px;
    border-bottom: 1px solid white;
  }
  
  .myName {
    font-size: 20px;
  }

  .majors {
    font-size: 14px;
  }

  .iPt2 {
    margin-top: 0px;
    width: 100%;
    border: 4px solid black;
    border-right: none;
    margin-left: 0;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .iPt1 {
    display: none;
  }

  .interests {
    font-size: 14px;
  }

}

@media only screen and (max-width: 1100px) {
  .bigMe {
    width: 100%;
    border-right: none;
  }

  .buttonz {
    font-size: 12px;
  }
}