@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.app {
  text-align: center;  
  border: 4px solid black;
}

.projects {
    text-align: center;  
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: auto;
    margin-top: 100px;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 100px;
  }
  
.bigSeparator { 
    max-width: 100%;
    display: flex;
}
  
.bigText {
    min-width: 14%;
    writing-mode: vertical-rl;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    text-align: left;
    margin-top: 90px;
    margin-bottom: -44px;
}

.txt {
  font-size: 10vw;
}
  
.abt {
    font-size: 9vw;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 50px;
    padding-left: 20px;
    border-bottom: 4px solid black;
}
  
.otherBigText {
    display: none;
}
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  
@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .abt {
      padding-left: 10px;
    }
  
    .bigSeparator {
      border: none;
      display: inline;
    }
  
    .otherBigText {
      display: flex;
      position: relative;
      text-align: left;
      font-size: 4vw;
      width: 100%;
      height: 10vw;
      padding-left: 10px;
      padding-bottom: 35px;
      border-bottom: 4px solid black;  
    }
  
    .projects {
      margin-top: 0;
      text-align: center;  
      flex-wrap: wrap;
      margin-left: 0;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      border-bottom: 4px solid black;
      margin-bottom: 0;
    }
  
    .projects > :nth-child(2), .projects > :nth-child(4), .projects > :nth-child(6){
      border-right: 4px solid black;
    }
  
    .bigText {
      display: none;
    }
}
  
  