.all {
    text-align: center;  
    border: 4px solid black;
}

.title {
    font-size: 6.5vw;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 50px;
    padding-left: 20px;
    border-bottom: 4px solid black;
    text-transform: uppercase;
}

.subtitle { 
    text-align: center;  
    max-width: 100%;
    display: flex;
}

.sidewayssTitle {
    font-size: 8vw;
    text-align: left;
    border-left: 4px solid black;
    writing-mode: vertical-rl;
    color: orange;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 0;
    margin-left: 0;
}

.paraa {
    margin-top: 2%;
}

.para {
    margin-top: -5%;
}

.paragraphz {
    font-size: 2vw;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
}

.sTitle {
    font-size: 9vw;
    text-align: left;
    padding-left: 20px;
    margin-top: -11px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.images {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 0;
    margin-bottom: 40px;
}

img {
    width: 30%;
    margin-right: 5%;
}

.btnn {
    background-color: white;
    /* font-family: 'Source Code Pro', sans-serif; */
    border-color: black;
    margin-bottom: 20px;
    width: 20vw;
    height: 10vh;
    font-size: 1.5vw;
}

.btnn:hover {
    background-color: orange;
}

@media only screen and (max-width: 700px) {
    .paragraphz {
        font-size: 14px;
    }

    .title {
        font-size: 9vw;
    }

    .sidewayssTitle {
        display: none;
    }

    .btnn {
        font-size: 14px;
    }

    .images {
        margin-bottom: 20px;
        display: inline;
    }

    img {
        width: 80%;
    }
}
