#all {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;   
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 10vh;
  height: 84vh;
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
}

.elem {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

@keyframes fadeInOpacity {
	0% {
        opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#projects-2 {
  border: 1px solid black; 
}

#projects-3, #projects-4, #projects-5 {
  border: 1px solid black; 
  border-left: none;
}

#projects-1, #projects3, #projects7 {
  border: 1px solid black; 
  border-top: none;
}

#projects4, #projects5, #projects6, #projects0, #projects1, #projects2 {
  border: 1px solid black; 
  border-top: none;
  border-left: none;
}

@media only screen and (max-width: 1275px) {
  #all {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #projects-1 {
    border: 1px solid black; 
  }
  
  #projects0, #projects1 {
    border: 1px solid black; 
    border-left: none;
  }
  
  #projects2 {
    border: 1px solid black; 
    border-top: none;
  }
  
  #projects3, #projects4, #projects6, #projects7 {
    border: 1px solid black; 
    border-top: none;
    border-left: none;
  }

  #projects5 {
    border: 1px solid black; 
    border-top: none;
  }
}

@media only screen and (max-width: 950px) {
  #all {
    grid-template-columns: 1fr 1fr;
  }

  #projects-1 {
    border: 1px solid black; 
  }
  
  #projects0 {
    border: 1px solid black; 
    border-left: none;
  }
  
  #projects1, #projects3, #projects5, #projects7 {
    border: 1px solid black; 
    border-top: none;
  }

  #projects2, #projects4, #projects6 {
    border: 1px solid black;
    border-top: none; 
    border-left: none;
  }
}

@media only screen and (max-width: 540px) {
  #all {
    display: block;
  }
  #projects-1 {
    border: 1px solid black; 
  }
  #projects0, #projects1, #projects2, #projects3, #projects4, #projects5, #projects6, #projects7 {
    border: 1px solid black; 
    margin-top: -5px;
    border-top: none;
  }
}

@media only screen and (max-width: 270px) {
  #all {
    display: none;
  }
}