#proj {
    height: 100%; 
    width: 100%;
}

#projName {
    margin-top: 12vh;
    height: 50%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#linkz:hover {
    font-style: italic;
}

#linkz {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

#desc {
    width: 100%;
    height: 20%;
}

#time {
    margin-left: 1%;
    margin-top: 0.5%;
}

#tools {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 350px) {
    #projName {
        margin-top: 8vh;
    }

    #tools {
        margin-top: 5vh;
    }
}


@media only screen and (max-height: 500px) {
    #projName {
        margin-top: 8vh;
    }

    #tools {
        margin-top: 5vh;
    }
}

@media only screen and (max-height: 400px) {
    #projName {
        margin-top: -2vh;
    }

    #tools {
        display: none;
    }
}